  .orange600 { color: rgb(251, 138, 0); }

  .icon {
      width: 48px;
      height: 48px;
  }
  
  .container {
      background-color: white;
  }

  .listItem {
    cursor : pointer;
  }

  .buttonClear {
    margin: 30px ;
    font-size: 18px;
    padding : 10px;
    border-radius: 10px;
    color: white;
    background-color: green;
    box-shadow: 10px 10px 10px grey;
  }

  .buttonClear:hover {
    color: blue;
  }
  